.btn-primary {
   background-color: #01010193;
   
}

.btn-primary:hover {
    background-color: #1a1a1a;
}

.btn {
    transition: all 0.5s ease-in-out;
    margin: auto 10px;
}

.btn:hover {
    transform: scale(1.1);
}

.time-modal {
    text-align: center;
    margin-top: 10px;
}

span {
    color: #009688;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
}