.btn {
    transition: all 0.5s ease;
}

.btn:hover {
    color: #fefefa;
    background-color: #919191;
}

.btn-close-white {
    transform: scale(0.8);
    transition: all 0.8s ease-in-out;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input:focus {
    background-color: rgba(237, 241, 238, 0.1);
    transform: scalex(1.3);
    transition: all 0.5s ease-in-out;
    outline: none;
}

.input:hover {
    background-color: rgba(246, 250, 247, 0.1);
    transform: scalex(1.3);
}

.input {
    transition: all 0.5s ease-in-out;
}

#singleInput {
    display: none;
}

#multipleInput {
    display: none;
}

th {
    font-size: larger;
    text-align: center;
    color: black;
    background-color: #dddddd;
}

tbody {
    text-align: center;

}

table {
    padding: 2px;
    margin: 2px !important;
    border-right: 1px solid black;
    width: 12rem;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}